---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Products from "../components/Products.astro";
import Events from "../components/Events.astro";
import Contact from "../components/Contact.astro";
import Gallery from "../components/Gallery.astro";
import SocialShare from "../components/SocialShare.astro";
import Promotions from "../components/Promotions.astro";
---

<Layout title="Santa Chela Bar - Donde los buenos momentos fluyen">
	<main>
		<Hero />
		<Products />
		<Events />
		<Promotions />
		<Gallery />
		<Contact />
		<SocialShare />
	</main>
</Layout>

<style>
	main {
		overflow: hidden;
	}
</style>

<script>
	import { productos } from "../utils/get-data";
	console.log(productos);
</script>
