---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';
import Events from '../components/Events.astro';
import Contact from '../components/Contact.astro';
import Gallery from '../components/Gallery.astro';
import SocialShare from '../components/SocialShare.astro';
---

<Layout title="Santa Chela Bar - The Best Drinks in Town">
	<main>
		<Hero />
		<Products />
		<Events />
		<Gallery />
		<Contact />
		<SocialShare />
	</main>
</Layout>

<style>
	main {
		overflow: hidden;
	}
</style>