<section class="hero">
	<div class="hero-content">
		<img
			src="https://imgfz.com/i/jwadVGc.png"
			alt="Santa Chela Logo"
			class="logo"
		/>
		<h1>Santa Chela</h1>
		<p>Donde los buenos momentos fluyen</p>
	</div>
	<div class="hero-background">
		<video autoplay muted loop class="background-video">
			<source src="/video.webp" type="video/webp" />
			Tu navegador no soporta el formato de video.
		</video>
		<div class="overlay"></div>
	</div>
</section>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Corinthia:wght@400;700&family=Dancing+Script:wght@400..700&display=swap");
	.hero {
		height: 100vh;
		position: relative;
		overflow: hidden;
	}

	.hero-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	.background-video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4); /* Opacidad oscura */
		z-index: 2;
	}

	.hero-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-5deg);
		z-index: 3;
		text-align: center;
		width: 100%;
		text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	}

	.logo {
		width: 200px;
		height: auto;
		margin-bottom: 2rem;
		filter: drop-shadow(0 0 20px rgba(252, 176, 64, 0.5));
	}

	h1 {
		font-family: "Corinthia", cursive;
		font-weight: 700;
		font-style: normal;
		font-size: 12rem;
		color: var(--yellow);
		margin: 0;
		line-height: 1;
		letter-spacing: 2px;
		-webkit-background-clip: text;
		text-shadow:
			3px 3px 0px rgba(255, 0, 0, 0.8),
			/* Sombra roja para el relieve */ 5px 5px 0px rgba(255, 0, 0, 0.6),
			/* Relieve más marcado */ 7px 7px 10px rgba(0, 0, 0, 0.7); /* Sombra más difusa para profundidad */
		animation: shine 3s ease-in-out infinite;
	}

	@keyframes shine {
		0% {
			background-position: -500%;
		}
		100% {
			background-position: 500%;
		}
	}

	p {
		font-family: "Dancing Script", cursive;
		font-weight: 400;
		font-style: normal;
		font-size: 3rem;
		color: white;
		margin: 1rem 0 0;
		font-weight: 700;
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 4rem;
		}
		p {
			font-size: 1.5rem;
		}
		.logo {
			width: 150px;
		}
	}
</style>
