<section class="hero">
	<div class="hero-content">
		<img src="/svg/santachela7.svg" alt="Santa Chela Logo" class="logo" />
		<p>Donde los buenos momentos fluyen</p>
	</div>
	<div class="hero-background">
		<video autoplay muted loop class="background-video">
			<source src="/video/video2.mp4" type="video/mp4" />
			Tu navegador no soporta el formato de video.
		</video>
		<div class="overlay"></div>
	</div>
	<div class="hero-border">
		<img src="/svg/bg10.svg" alt="Decorative border" class="border-image" />
	</div>
	<!-- Señal para desplazarse hacia abajo -->
	<a href="#products">
		<div class="scroll-indicator">
			<span class="scroll-icon">
				<img src="/svg/down.svg" alt="Scroll down" />
			</span>
		</div>
	</a>
</section>

<style>
	.hero {
		height: 100vh;
		position: relative;
		overflow: hidden;
	}

	.hero-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	.background-video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		filter: blur(4px); /* Desenfoque */
		opacity: 0.7; /* Oscurecimiento */
		z-index: 1;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6); /* Opacidad adicional */
		z-index: 2;
	}

	.hero-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		text-align: center;
		width: 100%;
		text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	}

	.logo {
		height: 400px;
	}

	p {
		font-family: "Marker", cursive;
		font-style: normal;
		font-size: 2rem;
		color: var(--white);
		font-weight: 100;
	}

	.hero-border {
		position: absolute;
		bottom: -65%; /* Ajusta la posición para moverlo más abajo */
		width: 100%;
		height: 100%; /* Asegúrate de que ocupe todo el contenedor */
		overflow: hidden;
		z-index: 2;
		fill: var(--white);
	}

	.border-image {
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 0;
		transform: scaleX(1.2); /* Escala el SVG horizontalmente */
		transform-origin: center; /* Mantén el escalado centrado */
	}

	/* Estilo para la señal de desplazamiento */
	.scroll-indicator {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		color: white;
		font-size: 1.5rem;
		z-index: 4;
		animation: bounce 1s infinite; /* Animación de rebote */
	}

	.scroll-icon {
		font-size: 3rem;
		display: block;
		margin-bottom: 8px;
	}

	@keyframes bounce {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-10px);
		}
	}

	/* Para móviles pequeños (320px - 375px) */
	@media (max-width: 375px) {
		.hero-border {
			bottom: -30%; /* Ajusta la posición para mantener proporción */
		}

		.logo {
			height: 200px; /* Un tamaño ligeramente más grande para móviles grandes */
		}
	}

	/* Para móviles grandes (376px - 767px) */
	@media (max-width: 768px) {
		.hero-border {
			bottom: -35%; /* Ajusta para un diseño más equilibrado */
		}

		.logo {
			height: 200px; /* Un tamaño ligeramente más grande para móviles grandes */
		}
	}

	/* Para tablets (768px - 1024px) */
	@media (min-width: 769px) and (max-width: 1024px) {
		.hero-border {
			bottom: -35%; /* Ajusta la posición para mayor visibilidad */
		}

		.logo {
			height: 200px; /* Un tamaño ligeramente más grande para móviles grandes */
		}
	}

	/* Para laptops pequeñas y tablets en horizontal (1025px - 1280px) */
	@media (min-width: 1025px) and (max-width: 1280px) {
		.hero-border {
			bottom: -45%; /* Ajusta la posición del borde */
		}
	}

	/* Para pantallas grandes (1281px - 1920px) */
	@media (min-width: 1281px) and (max-width: 1920px) {
		.hero-border {
			bottom: -65%; /* Más espacio para un diseño limpio */
		}
	}
</style>
