<section class="hero">
	<div class="hero-content">
		<img
			src="/svg/santachela3.svg"
			alt="Santa Chela Logo"
			class="logo"
		/>
		<p>Donde los buenos momentos fluyen</p>
	</div>
	<div class="hero-background">
		<video autoplay muted loop class="background-video">
			<source src="/video/video2.mp4" type="video/mp4" />
			Tu navegador no soporta el formato de video.
		</video>
		<div class="overlay"></div>
	</div>
	<!-- Señal para desplazarse hacia abajo -->
	<div class="scroll-indicator">
		<span class="scroll-icon">
		<img src="/svg/down.svg"
		alt="Scroll down">	
		</span> <!-- Flecha hacia abajo -->
	</div>
</section>

<style>
	.hero {
		height: 100vh;
		position: relative;
		overflow: hidden;
	}

	.hero-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	.background-video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		filter: blur(4px); /* Desenfoque */
		opacity: 0.7; /* Oscurecimiento */
		z-index: 1;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6); /* Opacidad adicional */
		z-index: 2;
	}

	.hero-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		text-align: center;
		width: 100%;
		text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	}

	.logo {
		height: 400px;
		
	}

	p {
		font-family: "Marker", cursive;
		font-style: normal;
		font-size: 2rem;
		color: var(--white);
		font-weight: 100;
	}

	/* Estilo para la señal de desplazamiento */
	.scroll-indicator {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		color: white;
		font-size: 1.5rem;
		z-index: 4;
		animation: bounce 1s infinite; /* Animación de rebote */
	}

	.scroll-icon {
		font-size: 3rem;
		display: block;
		margin-bottom: 8px;
	}

	@keyframes bounce {
		0%, 100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-10px);
		}
	}

	@media (max-width: 768px) {
	.logo {
		height: 200px; /* Reduce el tamaño del logo */
	}

	p {
		font-size: 2rem; /* Reduce el tamaño del texto */
	}
}
</style>
